@model IEnumerable<CS470_Project.Models.Book>

@{
    Layout = null;
}

@{
    List<CS470_Project.Models.Book> books = ViewData["Books"] as List<CS470_Project.Models.Book>;
    string role = (string)ViewData["UserRole"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    test
</body>
</html>
